<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.store.mapper.SupplierMapper">
    <insert id="addUser">
		insert into `_user`(supplierName,userId,pic,address,supplierClass)
		 values (
		 #{supplierName},
		 #{userId},
		 #{pic},
		 #{address},
		 #{supplierClass},
		 )
	</insert>
	<select id="isSupplierIn" resultType="com.store.store.entity.Supplier">
		select * from  `_supplier` where userId = #{userId}
	</select>
	<insert id="addSupplier">
	  	insert into `_supplier` (supplierName,userId,supplierClass) values (
	  	#{supplierName},#{userId},#{supplierClass}
	  	);
	</insert>
	<select id="getSupplier" resultType="com.store.store.entity.Supplier">
		select * from `_supplier`
	</select>
	<select id="getFoodClassById" resultType="com.store.store.entity.FoodClass">
		select * from `_foodclass` where classId = #{classId};
	</select>
</mapper>